Container{
    align: center middle;
    margin: 1;
    padding: 1;
    height: 100%;
    width: 100%;
}
Vertical{
    /*dock: middle;*/
    background: $boost;
    /*min-width:100;*/
    text-align: center;
    align: center middle;
    
}
Name {
    padding: 0;
    align: center middle;
    height: auto;
    width: auto;
}
input {
    height: 10%;
    dock: bottom;
    margin-top: 1;
}